{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block css %}
    body{ background-color: #c7c7c7; background-image: url("../static/shop/Farms.jpg"); background-repeat: no-repeat; background-size: cover; opacity: 1.0;}
nav {opacity:0.88;}
    .container{background-color: #fafafa; padding:2em; opacity: 0.9;}
{% endblock %}
{% block body %}
{% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

{% endif %}



<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Egreen Store</h1>
      <p>The small and medium-sized E-green store is built using MySQL and Django Framwork. Customers always demand for freshly available fruits,vegetables, and
grains so here we are with our App which will supply you the Fresh fruits,veggies,and
grains.We also resolved farmer problem as this App will benefit more to the Farmer as he
don’t have to go anywhere to sell this product ,He can directly upload his product details
in this and He can directly sell his product to the Farmer,more profit to the farmer and
customer will also get the Groceries at certain desired rate.This the future of E-green
Store and Farmer where it will make the farmer work easier.This is very simple to use
with this many farmer will benefits and it gives the customer the exact quality and quantity of products they are buying. This
project can be further improved by adding tracker system which will exactly tell you the
location of your order.<br><b>Developed By: Vishnu Udaikumar & Saurabh Shetty</b></p>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/vishnu-trace/eGreen-Store" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Inspiration</h2>
          <br>
            <p>E-green Store is modernized way for supplying of fresh groceries directly from farm into
your hand .This app will let the Farmer to enter all the product details one by one in this
app through product registration .This App contains all the basic necessity required for
the shopping App.this will let the customer to login and register ,once after the customer
is Login it will redirect the customer to the homepage where all the products are listed
one by one .Here the Customer can select the product and increase His quantity which
will be later displayed the cart and through cart you can go to checkout page which will
give you all the details of the product and customer can fill their details to confirm the
order.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Acknowledgement</h2>
            <br>
            <p>We are profoundly indebted to our guide, Mr. Rithesh Pakkala P., Assistant Professor,
Department of Information Science & Engineering for innumerable acts of timely advice,
encouragement and We sincerely express our gratitude.
We express our sincere gratitude to Dr. Shamanth Rai, Head & Associate Professor, Department of Information Science & Engineering for his invaluable support and
guidance.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Abstract</h2>
          <br>
            <p>This E-green Store has realized the transmission and control of large goods, so as to
facilitate the management and decision of Farm based product, and reduce a big burden
for Farmer’s and Customer’s. It also can help to improve the work efficiency of Farmer.
Its requirements are to provide the basic information maintenance function of customers
and products so that farmer can use the function to add, delete, and modify the basic
information of products and the customer can use it to add, modify and delete the basic
information of Farm based products. E-green Store is very convenient for managing
input, output, and searching the products so as to make the work of Farmer efficient
and effective.In the aspect of software, the E-green Store system uses Python Djangoframework and Oracle as the background database. Various configurations in computer
including input and output capacity, internal memory and external memory capacity are
met the requirements of users</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}